.feedbackHeading {
    color: #276063;
    background-color: #e9ecef;
    font-size: 2.5rem;
    margin-top: 150px;
    font-family: 'Zen Dots', cursive;
  }
.p{
  padding-top:100px;
  padding-bottom: 100px;
}
