
/* Make the image fully responsive */
/* .carousel-inner .carousel-item img {
  width: 100%;
  height: 30%;
}

.carousel-caption{
    background-color:burlywood;
    color: #1f2311!important;
    opacity:0.7;
    right: 30%!important;
    left: 30%!important;


} */
