

    .carousel-caption{
        background-color:burlywood;
        color: #1f2311!important;
        opacity:0.7;
        right: 25%!important;
        left: 25%!important;
        font-family: Helvetica;
        border-radius: 10px;

    }
  /* .control-arrow{
      background-color:burlywood;
  } */
