
/* footer css */
.footer{
    background-image: url("../../../Cssimg/ba.jpg");
    background-repeat: no-repeat;
    font-size: 20px;
    height: 700px;
    font-family: Verdana, Geneva, sans-serif;

 }
.note{
 color: #bd2130 ! important;

}
.Topicon{
  font-size: 30px;



}
.fa{
  font-size: larger;
}
.p{
  padding-top:200px;
  padding-bottom: 100px;
}
