
.modal{
  background-color:#f9989859;
  display: none;
}
.modalbtn{
  width: 100%;
  height: auto;

}
 .click{
   transform:rotate(-5deg);
   padding-top: 10px;
 }

.blockquote {
    font-size: 2rem!important;
    color: sienna;
    margin-bottom: 2.5rem!important;
    margin-top: 2rem!important;
    background-color:white;

}

.adviceBtn.btn.btn-primary {

  background-color: #ad8c6d;
   position: relative;
   animation-name: adviceBtn;
   animation-delay: 2s;
   animation-duration: 6s;
  animation-iteration-count: infinite;
   animation-direction: revert;



}



@keyframes adviceBtn {
  0%   {background-color:#c5515199;; left:0px; top:0px;}
  25%  {background-color: #dc3545; left:500px; top:0px;}
  50%  {background-color:#ffff00a1;;top:0px; right:0px;}
}
